<Form>
    <fieldset>
        <label htmlFor="title">
            Title
            <input type="text" id="title" name="title" placeholder="Title" required value={this.state.title} onChange={this.handleChange}>
        </label>
        <label htmlFor="price">
            Price
            <input type="number" id="price" name="price" placeholder="Price" required value={this.state.price} onChange={this.handleChange}>
        </label>
        <label htmlFor="description">
            Description
            <textarea id="description" name="description" placeholder="Enter a description" required value={this.state.description}
                onChange={this.handleChange}>
                            </label>
                        </fieldset>
                    </Form>





                    